---
import DateListItem from "./DateListItem.astro";
const { content } = Astro.props;

let showHeadingSection = false;
if (content.heading) {
  showHeadingSection = true;
} else if (content.text) {
  showHeadingSection = true;
}
---

<div>
{
    showHeadingSection && (
      <div class="center-items mb-20">
        {content.heading && <h2 class="text-4xl mb-6">{content.heading}</h2>}
        {content.text && (
          <p class="text-2xl leading-[1.4] max-w-3xl">{content.text}</p>
        )}
      </div>
    )
  }
  <div class="list-entries | flex flex-col gap-6">
    {content.entries.map((entry) =>
        <DateListItem content={entry} />
    )}
  </div>
</div>

<style>
    .list-entries {
        position: relative;
        padding-left: 3px;
    }

    .list-entries::before {
        content: '';
        position: absolute;
        height: calc(100% - 6rem);
        top: calc(1.25rem + 2px);
        left: 1px;
        width: 2px;
        background: theme('colors.brand.light');
        opacity: 0.15;
    }
</style>