---
import IntroSection from "./IntroSection.astro";
import notepadSheet from "../assets/images/notepad-sheet.webp"
import paintSquare from "../assets/images/paint-square.webp"
import paintSmear from "../assets/images/paint-smear.webp"
// const notepadSheet = "./src/assets/images/notepad-sheet.webp"
// const paintSquare = "./src/assets/images/paint-square.webp"
// const paintSmear = "./src/assets/images/paint-smear.webp"

const bgDecorativeImages = [
  notepadSheet,
  paintSquare,
  paintSmear
]

const { content } = Astro.props;

function isOdd(num) {
  return num % 2;
}

let showHeadingSection = false;
if (content.heading) {
  showHeadingSection = true;
} else if (content.text) {
  showHeadingSection = true;
}
---

<div>
  {
    showHeadingSection && (
      <div class="center-items mb-12">
        {content.heading && <h2 class="text-4xl mb-6">{content.heading}</h2>}
        {content.text && (
          <p class="text-2xl leading-[1.4] max-w-3xl">{content.text}</p>
        )}
      </div>
    )
  }
  <div class="features flow gap-24">
    {
      content.entries.map((entry, index) => {
        return (
          <IntroSection
            content={entry}
            layout={isOdd(index) ? "flipped" : "default"}
            bgDecorativeImage={bgDecorativeImages[index % 3]}
          />
        );
      })
    }
  </div>
</div>
