---
import Button from "./Button.astro";
import constructHref from "../utils/constructHref"
const { content } = Astro.props;
---

<div class="absolute -bottom-32 flex items-center justify-center">
    <div class="relative flex flex-wrap items-center gap-5 z-[5] bg-white rounded-sm px-6 py-3 m-[0.45rem]">
        <div class="font-heading">{content.sectionName}</div>
        <div class="text-gray-300">|</div>
        <ul class="flex flex-wrap items-center gap-5">
            {content.sectionLinks.map((linkItem) => {
                const url = constructHref(linkItem.link);
                return (
                    <li><Button href={url} type="none" className={Astro.url.pathname === url && 'text-brand-dark font-bold'}>{linkItem.linkName || linkItem.link.pageName}</Button></li>
                )
            })}
        </ul>
    </div>
    <div class="rainbow-gradient absolute inset-0 rounded-md w-full h-full"></div>
</div>