<div class="relative">
    <button popovertarget="nativepopover">Popover</button>
    <div id="nativepopover" popover class="absolute bottom-0"><div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint unde veritatis dolor. Dolorum voluptatibus quo obcaecati quos fuga debitis laudantium?</div>
    <ul>
        <li><a href="/">list link</a></li>
        <li><a href="/">list link</a></li>
        <li><a href="/">list link</a></li>
    </ul>
</div>
</div>