<header
  class="px-12 py-6 flex justify-between items-center bg-white shadow-lg z-50"
>
  <div class="flex flex-wrap gap-8 items-center">
    <a href="/" class="logo">
      <img src="/smccns-logo.png" width="100" alt="" />
    </a>
    <nav class="flex gap-6 items-center">
      <a href="#">About</a>
      <a href="#">Programs</a>
      <a href="#">Enrollment</a>
      <a href="#">Community</a>
      <a href="#">Contact</a>
    </nav>
  </div>
  <div class="flex gap-6 items-center">
    <a href="#">Parents Portal</a>
    <a href="#">Virtual Tour</a>
    <a href="#">Donate</a>
  </div>
</header>
