---
import { SEO } from "astro-seo";
import { Image } from "@astrojs/image/components";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import "../styles/global.css";
import { navigation, getNavigation } from "@lib/navigation";

const mainNavigation = getNavigation("79fe02eb-35a4-40bd-ae80-15ef86d6245f");

const siteMeta = {
  title: "San Marino Community Church Nursery School",
  description:
    "SMCCNS is a community of children, families, and teachers committed to learning and growing through a process of research and discovery.",
};

const { meta = siteMeta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO
      title={meta.title}
      description={meta.description}
      openGraph={{
        basic: {
          title: meta.openGraph ? meta.openGraph.title : meta.title,
          type: "website",
          image: "/SMCC-NurserySchool_080.jpg",
        },
        optional: {
          description: meta.openGraph
            ? meta.openGraph.description
            : meta.description,
        },
      }}
    />
    <script defer src="/fontawesome/solid.min.js"></script>
    <script defer src="/fontawesome/brands.min.js"></script>
    <script defer src="/fontawesome/fontawesome.min.js"></script>
    <slot name="pageHead" />
    <style>
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-Italic.woff2") format("woff2");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Mali";
        src: url("/fonts/Mali-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body class="font-sans text-gray-500 text-lg leading-normal">
    <SiteHeader mainNavigation={mainNavigation} />
    <slot name="main" />
    <SiteFooter mainNavigation={mainNavigation} />
    <style is:global>
      :where(h1, h2, h3, h4, h5, h6) {
        color: theme("colors.gray.800");
        font-family: theme("fontFamily.heading");
        letter-spacing: -1px;
        font-weight: 700;
      }
    </style>
  </body>
</html>
